body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(0, 128, 128), #6DD5FA);
}

.container {
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
    color: aliceblue;
    
}

.first{
    text-align: center;
    margin-right: 40px;
    font-size: x-large;
}
h1#first:hover {
    color: #FFA500;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
    font-size: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 30px;
    
}

input[type="number"] {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 35px;
    border-color: rgb(4, 250, 201);
}

.btn {
    display: block;
    width: 200px;
    padding: 10px;
    text-align: center;
    background-color: #00BFFF ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.btn:hover{
    background-color: #87CEEB;
    transform: scale(1.0);
}

.result {
    text-align: center;
    margin-top: 5px;
    font-weight: 900;
    font-size: 24px;
    padding: 20px;
    color: rgb(24, 0, 236);
    margin-left: -5rem;
}
